---
---

<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name="Description" content="Instant YEEEAH! button - Click and hear YEEEAH for all your sunglass-donning needs.">
  <title>Instant YEAH!</title>
  <style type="text/css">
    {% include css/normalize.css %}
    {% include css/screen.css %}
  </style>
  <script type="text/javascript">
    {% include js/ga.js %}
    {% include js/soundmanager2-nodebug-jsmin.js %}
    {% include js/app.js %}
  </script>
</head>
<body>
  <img onMouseOver="javascript:yeah()" onclick="javascript:yeah()" id="c" src="c.jpg" alt="It's motherfuckin Caruso">
</body>
</html>